@page "/"
@inject NavigationManager NavManager

<h1>Welcome to the Smart Kitchen Builder</h1>

<button @onclick="HandleContinue">Continue</button>

@code {
    private void HandleContinue()
    {
        Kitchenbuilder.Core.CalculateStationsCabinets.ProcessAll();
        NavManager.NavigateTo("/handle-cabinet");
    }
 }
