


@* @page "/" *@
@* @inject NavigationManager NavManager  *@

@*  <h1> Welcome to the Smart Kitchen Builder</h1>  *@
@*  @code {  *@
@*      protected override async Task OnInitializedAsync()  *@
@*      {  *@
@*          // Wait 5 seconds  *@
@*         await Task.Delay(5000);  *@

@*          // Navigate to Counter page  *@
@*          NavManager.NavigateTo("/floor");  *@
@*      } *@
@*  } *@

 @page "/"
@inject NavigationManager NavManager

<h1>Welcome to the Smart Kitchen Builder</h1>

<button @onclick="HandleContinue">Continue</button>

 @code {
    private void HandleContinue()
    {
        Kitchenbuilder.Core.CalculateStationsCabinets.ProcessAll();
        NavManager.NavigateTo("/handle-cabinet");
    }
 }
